In [2]:
x = '1000'
y = '-2000'

In [3]:
x+y

'1000-2000'

In [4]:
x = int(x)
y = int(y)
x + y

-1000

In [5]:
z = 1.32323
z1 = int(z)
print(z)
print (type(z))
print (z1)
print (type(z1))

1.32323
<class 'float'>
1
<class 'int'>

In [6]:
print("one can believe in a story without believing it happened")

one can believe in a story without believing it happened

In [7]:
print('brandon sandorson','oathbringer')

brandon sandorson oathbringer

In [8]:
name = "william shakespeare"

In [9]:
name

'william shakespeare'

In [10]:
print (name)

william shakespeare

In [11]:
print(1,2,3,4)
print(1,2,3,4, sep='*')
print(1,2,3,4, sep='#',end='&')

1 2 3 4
1*2*3*4
1#2#3#4&

In [15]:
print("anima",end='$')

anima$

In [14]:
print(1,end='$')
print(2,3,end='üëå')
print(4,5,6)

1$2 3üëå4 5 6

In [18]:
qty = 8
fruit = 'kiwi'
print("i will buy",qty,fruit,"today")

i will buy 8 kiwi today

In [21]:
name = "digipodium"
type_of_company = "educational"
#enclose your variable within the {}
#to display its value in the output
print(f"{name} is an {type_of_company} company.")

digipodium is an educational company.

f string

In [22]:
a = 90
b = 60
c = a/b

python formatting style before version 3.6

In [23]:
print('{}/{} is equals to {}'.format(a,b,c))

90/60 is equals to 1.5

f-string style after version 3.6

In [24]:
print(f'{a}/{b} is equals to {c}') # üëç

90/60 is equals to 1.5

concatenation style

In [27]:
print(str(a) + '/' + str(b) +' is equals to ' +str(c)) # not in use

90/60 is equals to 1.5

using c-like formatting style

In [28]:
print('%d/%d is equals to %f'%(a,b,c)) # not in use

90/60 is equals to 1.500000

using comma separated

In [31]:
print(a,'/',b, 'is equals to', c )

90 / 60 is equals to 1.5

In [32]:
print(f'when we divide 10 by 3 we get {10/3}')

when we divide 10 by 3 we get 3.3333333333333335