- List
    - sequential (ordered)
    - mixed datatype (heterogenous)
    - can be empty
    - can have dupllicates
    - is mutable (we can add or remove elements)
    - represented as `[]` in python
    - `list` function creates a list

what i am going to learn
- creation
- indexing or slicing
- methods 
- comprehension

In [2]:
a = [] #empty
type(a)

list

In [23]:
b = [23,34,12,56,78]
c = ['Anima','Aditya','Urwshi','Aryan'] #string
d = ['Anima',300,'Aditya',500,'Urwshi',600,'Aryan',800] #mixed
e = [ [1,2,3], [2,3,4], [4,5,6] ] #nested list
f = [1] * 10 #duplicated list

In [24]:
print(b)
print(c)
print(d)
print(e)
print(f)

[23, 34, 12, 56, 78]
['Anima', 'Aditya', 'Urwshi', 'Aryan']
['Anima', 300, 'Aditya', 500, 'Urwshi', 600, 'Aryan', 800]
[[1, 2, 3], [2, 3, 4], [4, 5, 6]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [25]:
for i in d:
    print(i, end = ' ')

Anima 300 Aditya 500 Urwshi 600 Aryan 800

In [8]:
word = 'wikipedia'
charlist = list(word)
print(charlist)

['w', 'i', 'k', 'i', 'p', 'e', 'd', 'i', 'a']

In [14]:
charlist[0]
charlist[-1]

'a'

In [15]:
charlist[-1]

'a'

In [16]:
charlist[:4]

['w', 'i', 'k', 'i']

In [17]:
charlist[4:]

['p', 'e', 'd', 'i', 'a']

In [18]:
charlist[::-1]

['a', 'i', 'd', 'e', 'p', 'i', 'k', 'i', 'w']

In [26]:
charlist.reverse()

list has 11 methods
- adding items
    - append()
    - insert()
    - extend()
- removing items
    - remove()
    - pop()
    - clear()
- utility
    - reverse()
    - count()
    - index()
    - copy()
    - sort()

In [27]:
numbers = []
numbers.append(2)
numbers.append(3)
numbers.append(5)
print(numbers)

[2, 3, 5]

In [28]:
for i in range(5):
    v = int(input("enter a number :"))
    numbers.append(v)
    print(numbers)

[2, 3, 5, 1]
[2, 3, 5, 1, 2]
[2, 3, 5, 1, 2, 56]
[2, 3, 5, 1, 2, 56, 45]
[2, 3, 5, 1, 2, 56, 45, 18]

In [41]:
print(numbers)

[3, 5, 1, 2, 56, 18]

In [42]:
numbers.remove(3)

In [43]:
print(numbers)

[5, 1, 2, 56, 18]

In [49]:
numbers.insert(2,45)
print(numbers)

[5, 1, 45, 4, 45, 45, 2, 56, 18]

In [50]:
print(numbers)

[5, 1, 45, 4, 45, 45, 2, 56, 18]

In [61]:
numbers.insert(23,31) # insert at index 23 will put the data at the end of list, as we dont have index 23 in list

In [62]:
print(numbers)

[5, 1, 45, 4, 56, 18, 31]

In [63]:
numbers.pop(4) #remove the data at index 4
print(numbers)

[5, 1, 45, 4, 18, 31]

In [64]:
numbers.pop()
print(numbers)

[5, 1, 45, 4, 18]

In [65]:
numbers.clear()
print(numbers)

[]

In [66]:
x = [1,2,3]
y = [2,3,5]
# merge a list into another
x.extend(y)
print(x)
print(y)
x.append(y)
print(x)

[1, 2, 3, 2, 3, 5]
[2, 3, 5]
[1, 2, 3, 2, 3, 5, [2, 3, 5]]

In [67]:
z = x + y
print(z)

[1, 2, 3, 2, 3, 5, [2, 3, 5], 2, 3, 5]

In [69]:
numbers = [1,2,3,4,5,6,7,8]

In [70]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8]

In [71]:
del b[2] # this is not the best, use pop instead

In [72]:
del b,c,d,e,f

In [73]:
del x,y,z

In [74]:
del a,i,v

In [78]:
primes = []
for num in range(1, 1000):
    for i in range(2, num):
        if num %i == 0:
            break
    else:
        primes.append(num)
print(primes)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

### wap to calculate the total of a list, where the values are entered by user.

### wap to remove every 3 item from a list.

### wap to add every 3 item from a list, and store the result at the end of list.