- List
    - sequential (ordered)
    - mixed datatype (heterogenous)
    - can be empty
    - can have dupllicates
    - is mutable (we can add or remove elements)
    - represented as `[]` in python
    - `list` function creates a list

what i am going to learn
- creation
- indexing or slicing
- methods 
- comprehension

In [1]:
a = [] #empty
type(a)

list

In [2]:
b = [23,34,12,56,78]
c = ['Anima','Aditya','Urwshi','Aryan'] #string
d = ['Anima',300,'Aditya',500,'Urwshi',600,'Aryan',800] #mixed
e = [ [1,2,3], [2,3,4], [4,5,6] ] #nested list
f = [1] * 10 #duplicated list

In [3]:
print(b)
print(c)
print(d)
print(e)
print(f)

[23, 34, 12, 56, 78]
['Anima', 'Aditya', 'Urwshi', 'Aryan']
['Anima', 300, 'Aditya', 500, 'Urwshi', 600, 'Aryan', 800]
[[1, 2, 3], [2, 3, 4], [4, 5, 6]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [4]:
for i in d:
    print(i, end = ' ')

Anima 300 Aditya 500 Urwshi 600 Aryan 800

In [5]:
word = 'wikipedia'
charlist = list(word)
print(charlist)

['w', 'i', 'k', 'i', 'p', 'e', 'd', 'i', 'a']

In [6]:
charlist[0]
charlist[-1]

'a'

In [7]:
charlist[-1]

'a'

In [8]:
charlist[:4]

['w', 'i', 'k', 'i']

In [9]:
charlist[4:]

['p', 'e', 'd', 'i', 'a']

In [10]:
charlist[::-1]

['a', 'i', 'd', 'e', 'p', 'i', 'k', 'i', 'w']

In [11]:
charlist.reverse()

list has 11 methods
- adding items
    - append()
    - insert()
    - extend()
- removing items
    - remove()
    - pop()
    - clear()
- utility
    - reverse()
    - count()
    - index()
    - copy()
    - sort()

In [3]:
numbers = []
numbers.append(2)
numbers.append(3)
numbers.append(5)
print(numbers)

[2, 3, 5]

In [5]:
for i in range(5):
    v = int(input("enter a number :"))
    numbers.append(v)
    print(numbers)

[2, 3, 5, 1]
[2, 3, 5, 1, 1]
[2, 3, 5, 1, 1, 1]
[2, 3, 5, 1, 1, 1, 2]
[2, 3, 5, 1, 1, 1, 2, 3]

In [6]:
print(numbers)

[2, 3, 5, 1, 1, 1, 2, 3]

In [7]:
numbers.remove(3)

In [8]:
print(numbers)

[2, 5, 1, 1, 1, 2, 3]

In [9]:
numbers.insert(2,45)
print(numbers)

[2, 5, 45, 1, 1, 1, 2, 3]

In [10]:
print(numbers)

[2, 5, 45, 1, 1, 1, 2, 3]

In [11]:
numbers.insert(23,31) # insert at index 23 will put the data at the end of list, as we dont have index 23 in list

In [12]:
print(numbers)

[2, 5, 45, 1, 1, 1, 2, 3, 31]

In [13]:
numbers.pop(4) #remove the data at index 4
print(numbers)

[2, 5, 45, 1, 1, 2, 3, 31]

In [14]:
numbers.pop()
print(numbers)

[2, 5, 45, 1, 1, 2, 3]

In [15]:
numbers.clear()
print(numbers)

[]

In [16]:
x = [1,2,3]
y = [2,3,5]
# merge a list into another
x.extend(y)
print(x)
print(y)
x.append(y)
print(x)

[1, 2, 3, 2, 3, 5]
[2, 3, 5]
[1, 2, 3, 2, 3, 5, [2, 3, 5]]

In [17]:
z = x + y
print(z)

[1, 2, 3, 2, 3, 5, [2, 3, 5], 2, 3, 5]

In [18]:
numbers = [1,2,3,4,5,6,7,8]

In [19]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
del x,y,z

In [25]:
primes = []
for num in range(1, 1000):
    for i in range(2, num):
        if num %i == 0:
            break
    else:
        primes.append(num)
print(primes)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

### wap to calculate the total of a list, where the values are entered by user.

### wap to remove every 3rd item from a list.

### wap to add every 3rd item from a list, and store the result at the end of list.

In [26]:
x = []
for i in range(5):
    inp = int(input("enter a number"))
    x.append(inp)
total = sum(x)
print("total =>",total)

total => 20

In [27]:
for i,v in enumerate(x):
    print(i, v)

0 2
1 3
2 4
3 5
4 6

In [29]:
a = [11,22,33,44,55,66,77,88,99,100]
ev3 = [eval]
for i,v in enumerate(a):
    pos = i + 1
    if pos%3 == 0:
        ev3.append(v)
print(ev3)
for item in ev3:
    a.remove(item)
print(a)

[<built-in function eval>, 33, 66, 99]

ValueError: list.remove(x): x not in list

In [30]:
x = [1,2,3,2,4,5,6,7,2,3,2,3,2,3,2,3,2,3,1,1,1,2,4,5,6,1,1,1,3,4,5,3,2,4,5]
x.count(3)
x.count(5)
x.count(2)

9

In [41]:
names = ['alex','freddy','carl','jerry','samus','august','kim']
names.index('jerry')

3

In [42]:
names.reverse()
print(names)

['kim', 'august', 'samus', 'jerry', 'carl', 'freddy', 'alex']

In [43]:
names.sort()
print(names)

['alex', 'august', 'carl', 'freddy', 'jerry', 'kim', 'samus']

In [44]:
x.sort(reverse = True)
print(names)

['alex', 'august', 'carl', 'freddy', 'jerry', 'kim', 'samus']

In [45]:
names

['alex', 'august', 'carl', 'freddy', 'jerry', 'kim', 'samus']

In [46]:
backup = names # reference to the same list

In [47]:
backup_v2 = names.copy() # copy the list

In [48]:
names.remove('samus')

In [49]:
backup_v2.append('markus')

In [50]:
print(names)
print(backup)
print(backup_v2)

['alex', 'august', 'carl', 'freddy', 'jerry', 'kim']
['alex', 'august', 'carl', 'freddy', 'jerry', 'kim']
['alex', 'august', 'carl', 'freddy', 'jerry', 'kim', 'samus', 'markus']