# tuple

In [2]:
# tuple with mixed datatypes 
my_tuple = (798, "hello",3.4)
print(my_tuple)

(798, 'hello', 3.4)

In [3]:
# nested  tuple
my_tuple = ("mouse", [8,4,6], [1,2,3])
print(my_tuple)

('mouse', [8, 4, 6], [1, 2, 3])

In [4]:
# a tuple can also be created without using parenthesis
# this is known as tuple packing
my_tuple = 3,4.6, "apple"
print(my_tuple)

(3, 4.6, 'apple')

# operations in tuple

In [8]:
# concatenation
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [9]:
# repeat
print(("repeat",) *3)

('repeat', 'repeat', 'repeat')

In [7]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

# set

In [10]:
# set
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [11]:
my_set = {1.0,"oye",(1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'oye'}

In [12]:
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [13]:
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [15]:
my_set = {1,2,[3,4]} #unvalid

TypeError: unhashable type: 'list'

In [16]:
a = set()
print(type(a))

<class 'set'>

In [17]:
my_set = {1,3}
print(my_set)

{1, 3}

In [18]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [19]:
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [20]:
my_set.update([4,5],[1,6,8])
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [26]:
my_set = {1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [27]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [28]:
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [30]:
my_set.pop()
print(my_set)

{3, 5}

In [31]:
my_set.clear()
print(my_set)

set()

# set union

In [33]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [34]:
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

# intersection

In [37]:
print(a & b)

{4, 5}

In [38]:
a.intersection(b)

{4, 5}

In [39]:
b.intersection(a)

{4, 5}

# difference

In [40]:
print(a - b)

{1, 2, 3}

In [41]:
a.difference(b)

{1, 2, 3}

In [42]:
b.difference(a)

{6, 7, 8}

# symmetric difference

In [43]:
print(a ^ b)

{1, 2, 3, 6, 7, 8}

In [44]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [45]:
b.symmetric_difference(a)

{1, 2, 3, 6, 7, 8}

In [70]:
num = set()
for i in range(10):  
    val = int(input("enter the numbers"))
    num.add(val)
print(num)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}